
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --jblue: #00539C;
    --jlightgreen: #CDFF06;
}

@font-face {
    font-family: 'yangjin';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NanumSquareNeo';
}

a {
    text-decoration-line: none;
    color: var(--text-color);
}

g {
    stroke:var(--blue);
}

img{
    object-fit: cover;
}

option{
    color:black;
}

#menu-button{
    display: none;
    visibility: hidden;
    width:40px;
    height:40px;
}

#screen{
    display: none;
}

.mainbg {
    background-color:var(--jblue);
    margin: 0;
    padding: 0;
    overflow-y:auto;
    overflow-x: auto;
}

.main-view{
    min-height: 90vh;
}

.sterun-logo-m{
    text-align: center;
    padding: 20px 0 0 0;
}

.login-page {
    display: flex;
    justify-content: center;
    height:100%;
    background-color:var(--jblue);
    margin: 0;
    padding: 0;
    overflow-y:auto;
    overflow-x: auto;
}

.login-container{
    display: flex;
    flex-direction: column;
}

.login-page-top-margin{
    margin-top:7rem;
}

.id{
    width: 100%;
    height: 2.8rem;
    padding: 5px 0 5px 5px;
    margin:0px 0px 10px 0px;
    border-radius: 5px;
    border: grey 1px solid;
    box-sizing: border-box;
}

.pw{
    width: 100%;
    height: 2.8rem;
    padding: 5px 0 5px 5px;
    margin:0px 0px 20px 0px;
    border-radius: 5px;
    border: grey 1px solid;
    box-sizing: border-box;
}

.login-submit{
    cursor: pointer;
    background-color: var(--jlightgreen);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: leeseoyun;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 5px 0 5px 5px;
    margin:0px 0px 5px 0px;
    border: grey 1px solid;
    border-radius: 5px;
}

.signup-btn{
    cursor: pointer;
    font-size: 0.8rem;
    color:var(--white);
}

.centeritem{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin:20px 40px 0 20px;
}
.info-icons{
    display: flex;
    align-items: center;
}

.lan-switch {
    color:var(--jlightgreen);
    margin: 0 5px 0 5px;
    font-size: 13px;
}

.info-icon {
    color:var(--jlightgreen);
    margin:0 10px 0 10px;
}

.smallbox{
    width:20px;
}

.j-nav-container {
    width: 100%;
    z-index: 100;
    display: flex;
    margin: 80px 0 0 0;
    flex-direction: column;
    align-items: center;;
}

.j-nav-container-2 {
    width: 100%;
    z-index: 100;
    display: flex;
    margin: 20px 0 0 0;
    flex-direction: column;
    align-items: center;
}

.j-nav-items {
    display: flex;
    color: var(--jlightgreen);
    margin:20px 0 20px 0;
}

.j-navbar-brand {
    display: flex;
    margin:20px 0 20px 0;
}

.j-nav-item {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 30px 0 30px;
}


.j-nav-item a {
    font-weight: 600;
    font-family: LeeSeoyun;
}

.j-nav-item a:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--jlightgreen);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    margin-top:-12px;
}

.j-nav-item a:hover:after {
    transform: scaleX(1);
}

.main-img{
    margin: 30px 0 20px 0;
    width:400px;
}

.about-img{
    margin: 30px 0 0 0;
    width:500px;
}

.rights{
    margin: 20px 0 0 0;
    color:var(--jlightgreen);
    font-size: 13px;;
}

.about-text {
    margin: 10px 0 0 0;
    width: 450px;
    color: var(--jlightgreen);
}

.j-nav-item-active {
    font-size: 17px;
    text-align: center;
    padding: 0 30px 0 30px;
}

.j-nav-item-active::after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--jlightgreen);
    transition: transform 250ms ease-in-out;
    margin-top: -12px;
}
.login-box{
    display: flex;
    flex-direction: row ;
}
.login-btn{
    font-size: 0.7rem;
    color: var(--jlightgreen);
    font-weight: 700;
    border: var(--jlightgreen) solid 2px;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
}
.run-submit-title{
    font-family: yangjin;
    text-align: center;
    margin: 30px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 500;
    color:var(--jlightgreen);
}
.run-form-container{
    width: 400px;
    margin: auto;
}
.run-sm-form{
    display: flex;
    flex-direction: column;
}
.form-control{
    margin:20px 0 20px 0;
}
.form-label{
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin:0 0 5px 0;
    color:var(--jlightgreen);
}
.run-input{
    width: 100%;
    height: 2rem;
    border-radius: 5px;
}
.run-input-t{
    width: 40px;
    height: 2rem;
    border-radius: 5px;
}
.ms-row{
    display: flex;
    flex-wrap: wrap;
}
.ms-txt{
    color:var(--jlightgreen);
    margin:10px 10px 0 5px;
    width: 20px;
}
#inputMessage{
    height: 5rem;
}
.btn-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0 20px 0;
}
.submit-btn{
    width: 150px;
    height: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:var(--blue);
    font-size: 2rem;
    font-weight: 300;
    background-color: var(--jlightgreen);
    border-radius: 5rem;
    border: var(--white) 2px solid;
}

.record-top-space{
    height: 50px;
}
.main-info-1{
    display: flex;
}

.record-list-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin:auto;
    border-bottom: var(--jlightgreen) solid 1px;
    padding: 20px 0 20px 0;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.upload-btn{
    display: flex;
    background-color: var(--jlightgreen);
    color:var(--blue);
    font-weight: 700;
    margin:auto;
    padding:15px 20px 15px 20px;
    border-radius: 5rem;
    border: var(--jlightgreen) solid 2px;
}
.upload-txt{
    font-family:'yangjin';
    font-size: 1.2rem;
    margin: auto;
    margin-left: 5px;
    font-weight: 300;
}
.record-img{
    object-fit: cover;
}
.title-date{
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.record-3{
    color: var(--white);
    display: flex;
    flex-direction: row;
    padding-top:2rem;
}
.record-part-box{
    width: 120px;
    display: flex;
    flex-direction: column;
}
.distance-txt{
    font-size:0.6rem;
    margin-bottom: 5px;
}
.record-date{
    font-size:0.7rem;
    margin: 0 0 5px 0;
}
.record-title{
    font-weight: 700;
}
.record-distance{
    margin-right: 30px;
    font-weight: 700;
}
.record-pace{
    margin-right: 30px;
    font-weight: 700;
}
.record-time{
    margin-right: 30px;
    font-weight: 700;
}
.record-desc{
    margin-top: 30px;
    color: var(--white);
}

.search-sum{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--jlightgreen);
}
.distance-sum{
    font-family: Yangjin;
    font-size: 1.5rem;
    color: var(--jlightgreen);
}
.month-filter{
    border-radius: 0.5rem;
    width: 50px;
    color: var(--jlightgreen);
    font-weight: 700;
    background-color: transparent;
    border: var(--jlightgreen) 2px dotted;
}
.filter-line{
    display: flex;
}
.month-filter-txt{
    padding-left: 5px;
    font-size: 0.8rem;
    color:var(--jlightgreen);
}

@media (max-width: 620px) {
    #screen{
        display: flex;
        width: 100%;
        height: 0px;
        transition: all 0.2s;
        background-color: var(--jlightgreen);
    }
    
    #mobile_menu{
        width: 100%;
        position: relative;
        left: -100%;
        transition: all 0.2s;
        z-index: 999;
        background-color: #fff;
    }

    #menu-bundle{
        width: 100%;
        background-color: var(--jlightgreen);
    }
    
    #menu-button {
        display: block;
        visibility: visible;
        width:40px;
        height:40px;
        background-color: transparent;
        border: #00539C solid 1px;
    }
    
    .info-icons{
        display: none;
    }

    .sterun-logo-m{
        display: none;
    }

    .run-form-container{
        width:80%;
    }
    .submenu{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: yangjin;
        font-size: 5vh;
        font-weight: 200;
        border-bottom: #f2f2f2 solid 1px;
    }
    .j-nav-items{
        display: none;
    }
    .login-box{
        display: none;
    }
    .login-container{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-items: center;
    }
    .id{
        width: 100%;
    }
    .pw{
        width: 100%;
    }
    .login-submit{
        width: 100%;
    }
    .form-container{
        width: 70%;
    }
    .login-btn{
        color:var(--jblue);
        margin-left: 0px;
        text-align: center;
        border: 0px;
        padding:20px;
    }
    .mobile-login-box{
        display: flex;
        flex-flow: row-reverse;
    }

    .search-sum{
        width: 100%;
        padding: 0 20px 10px 20px;
    }

    .record-list-container{
        width: 90%;
    }
    .title-date{
        padding-left: 10px;
    }
    .record-3{
        display: flex;
    }
    .record-part-box{
        width: auto;
        font-size: 0.8rem;
    }
    .record-desc{
        font-size: 0.7rem;
        margin-top: 10px;
    }
}

@media (max-width: 405px) {
    .j-navbar-brand>a>img{
        display: flex;
        margin:auto;
        width: 80%;
    }
    .main-img{
        width: 100%;
    } 

    .search-sum{
        width: 80%;
    }
    
}