<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="description" content="sterun"/>
    <meta name="keywords" content="sterun"/>
    <title>STERUN</title>
    <link rel="shortcut icon" href="#"/>
    <!-- FONT -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap");
    </style>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/joolmag.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}"/>
    <!--google icon-->
    <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
    <!--js-->
    <script defer="defer" src="{% static 'js/main.js' %}"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.5.0/kakao.min.js" crossorigin="anonymous"></script>
    <script>
      Kakao.init('b1937e5c9e32d1c6b3aae0983529600b');
    </script>
  </head>
  <!-- 로딩 화면 -->
  <!--div class="loading"> <img src="{% static 'img/Blocks@1x-1.0s-200px-200px.gif' %}" alt=""> </div-->
  <!-- 로딩화면 끝 -->

  <body id="content" class="mainbg">
    <div class="info-container">
      <div class="sterun-logo-m">
        <a href={% url "index" %}>
          <img src="{% static "img/logo2@.png" %}" alt="logo-top" height="50px" ,="," width="auto">
        </a>
      </div>
      <img id="menu-button" data-menu="0" onclick="open_close()" src="{% static 'img/hamber_btn.svg' %}" alt="hamb-btn" height="auto," width="auto">
      <div class="j-nav-items fade-in-up-short1">
        <div class="j-nav-item">
          <a href="{% url 'index' %}">STERUN</a>
        </div>
        <div class="j-nav-item">
          <a href="{% url 'article:index' %}">Article</a>
        </div>
        <div class="j-nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'bingo:bingo' user.pk %}">Bingo</a>
          {% else %}
            <a href="{% url 'users:login' %}">Bingo</a>
          {% endif %}
        </div>
        <div class="j-nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'runres:recordview' user.pk %}">Record</a>
          {% else %}
            <a href="{% url 'users:login' %}">Record</a>
          {% endif %}
        </div>
        {% if user.is_staff %}
          <div class="j-nav-item">
            <a href="{% url 'bingo:bingoupdate' user.pk %}">Admin</a>
          </div>
        {% endif %}
      </div>
      <div class="login-sns-box">

        <div class="info-icons">
          <div class="info-icon">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div class="info-icon">
            <a href="https://www.instagram.com/hyunwoo_05/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <div class="info-icon">
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="login-box">
          {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">
              <div class="login-btn">{{ user.username }}
                님 로그아웃</div>
            </a>
          {% else %}
            <a href="{% url 'users:login' %}">
              <div class="login-btn">LOGIN</div>
            </a>
            <a href="{% url 'users:signup' %}">
              <div class="login-btn">SIGN-UP</div>
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="screen">
      <div id="mobile_menu">
        <div id="menu-bundle">
          <a href="{% url 'index' %}">
            <div class="submenu">STERUN</div>
          </a>
          <a href="{% url 'article:index' %}">
            <div class="submenu">Article</div>
          </a>
          {% if user.is_authenticated %}
            <a href="{% url 'runres:recordview' user.pk %}">
              <div class="submenu">Record</div>
            </a>
          {% endif %}
          {% if user.is_authenticated %}
            <a href="{% url 'bingo:bingo' user.pk %}">
              <div class="submenu">Bingo</div>
            </a>
          {% endif %}
          {% if user.is_authenticated %}
            <a href="{% url 'bingo:bingoupdate' user.pk %}">
              <div class="submenu">Admin</div>
            </a>
          {% endif %}

          <div class="mobile-login-box">
            {% if user.is_authenticated %}
              <a href="{% url 'users:logout' %}">
                <div class="login-btn">{{ user.username }}
                  님 로그아웃</div>
              </a>
            {% else %}
              <a href="{% url 'users:login' %}">
                <div class="login-btn">LOGIN</div>
              </a>
              <a href="{% url 'users:signup' %}">
                <div class="login-btn">SIGN-UP</div>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <script>
      $(document).ready(function () {
        $("select[name=month]").val("{{ month }}");
        $("select[name=month]").change(function () {
          $("#month-filter").submit();
        });
      });
    </script>
    <script>
      // 페이지가 모두 로드되면 호출
      window.addEventListener('load', function () {
        const loader = document.getElementById('loader');
        const content = document.getElementById('content');
        // 로딩 화면 숨기기
        loader.style.display = 'none';
        // 콘텐츠 보여주기
        content.style.display = 'block';
      });
    </script>
    <footer>
      <div class="rights">
        <p>© JOOL CO., LTD. All Rights Reserved.</p>
      </div>
    </footer>
  </body>

</html>
