{% extends "base.html" %}
{% load static %}
{% block content %}

  {% csrf_token %}

  <div class="bingo-title">{{ user_name }}님의 빙고 :)</div>

  <div class="bingo-board fade-in-up-short">
    <div class="bingo-row">
      {% for item in bingo_item_1r %}
        <label for="{{ item.bingo_item.item_id }}">
          <div class="bingo-col" id="item{{ item.bingo_item.item_id }}">
            <input type="checkbox" name="item" id="{{ item.bingo_item.item_id }}" data-post-id="{{ item.bingo_item.item_id }}" {% if item.completed %} checked="checked" {% endif %}>
            {{ item.bingo_item.content }}
            <div id="bingo-img{{ item.bingo_item.item_id }}" class="bingo-img">
              <img class="bingo-stamp" src="{% static "img/Ellipse-1.svg" %}" alt="main-img" height="auto," width="auto">
            </div>
          </div>
        </label>

      {% endfor %}
    </div>
    <div class="bingo-row">
      {% for item in bingo_item_2r %}
        <label for="{{ item.bingo_item.item_id }}">
          <div class="bingo-col" id="item{{ item.bingo_item.item_id }}">
            <input type="checkbox" name="item" id="{{ item.bingo_item.item_id }}" data-post-id="{{ item.bingo_item.item_id }}" {% if item.completed %} checked="checked" {% endif %}>
            {{ item.bingo_item.content }}
            <div id="bingo-img{{ item.bingo_item.item_id }}" class="bingo-img">
              <img class="bingo-stamp" src="{% static "img/Ellipse-1.svg" %}" alt="main-img" height="auto," width="auto">
            </div>
          </div>
        </label>
      {% endfor %}
    </div>
    <div class="bingo-row">
      {% for item in bingo_item_3r %}
        <label for="{{ item.bingo_item.item_id }}">
          <div class="bingo-col" id="item{{ item.bingo_item.item_id }}">
            <input type="checkbox" name="item" id="{{ item.bingo_item.item_id }}" data-post-id="{{ item.bingo_item.item_id }}" {% if item.completed %} checked="checked" {% endif %}>
            {{ item.bingo_item.content }}
            <div id="bingo-img{{ item.bingo_item.item_id }}" class="bingo-img">
              <img class="bingo-stamp" src="{% static "img/Ellipse-1.svg" %}" alt="main-img" height="auto," width="auto">
            </div>
          </div>
        </label>
      {% endfor %}
    </div>
    <div class="bingo-row">
      {% for item in bingo_item_4r %}
        <label for="{{ item.bingo_item.item_id }}">
          <div class="bingo-col" id="item{{ item.bingo_item.item_id }}">
            <input type="checkbox" name="item" id="{{ item.bingo_item.item_id }}" data-post-id="{{ item.bingo_item.item_id }}" {% if item.completed %} checked="checked" {% endif %}>
            {{ item.bingo_item.content }}
            <div id="bingo-img{{ item.bingo_item.item_id }}" class="bingo-img">
              <img class="bingo-stamp" src="{% static "img/Ellipse-1.svg" %}" alt="main-img" height="auto," width="auto">
            </div>
          </div>
        </label>
      {% endfor %}
    </div>
    <div class="bingo-row">
      {% for item in bingo_item_5r %}
        <label for="{{ item.bingo_item.item_id }}">
          <div class="bingo-col" id="item{{ item.bingo_item.item_id }}">
            <input type="checkbox" name="item" id="{{ item.bingo_item.item_id }}" data-post-id="{{ item.bingo_item.item_id }}" {% if item.completed %} checked="checked" {% endif %}>
            {{ item.bingo_item.content }}
            <div id="bingo-img{{ item.bingo_item.item_id }}" class="bingo-img">
              <img class="bingo-stamp" src="{% static "img/Ellipse-1.svg" %}" alt="main-img" height="auto" width="auto">
            </div>
          </div>
        </label>
      {% endfor %}
    </div>
  </div>
  {% if len != 5 %}
    <a href="{% url 'bingo:create_bingo' user.pk %}">
      <div class="create-bingo-btn">빙고 만들기</div>
    </a>
  {% endif %}
  {% if user_matched == 1 %}
    <div class="go-center">
      <button id="kakao-share-btn" class="kakao-btn">
        <img src="{% static "img/KakaoTalk_logo.png" %}" alt="" height="30px" width="30px">
        <div>카카오톡 공유</div>
      </button>
    </div>
  {% else %}
    <div class="hidden">
      <button id="kakao-share-btn">
        <div>카카오톡 공유</div>
      </button>
    </div>
  {% endif %}

  {% csrf_token %}
  <input type="hidden" id="csrf-token" value="{{ csrf_token }}">

  <script>
    document
      .getElementById('kakao-share-btn')
      .addEventListener('click', function () {
        Kakao
          .Share
          .sendDefault({
            objectType: 'feed',
            content: {
              title: "Running-Bingo",
              description: "{{ user.username }}님의 빙고를 확인해 보세요:)",
              imageUrl: "http://54.211.153.71//static/img/logo2%40.png",
              link: {
                mobileWebUrl: "http://54.211.153.71/bingo/" + "{{ user.pk }}",
                webUrl: "http://54.211.153.71/bingo/" + "{{ user.pk }}"
              }
            },
            buttons: [
              {
                title: '보러가기',
                link: {
                  mobileWebUrl: "http://54.211.153.71/bingo/" + "{{ user.pk }}",
                  webUrl: "http://54.211.153.71/bingo/" + "{{ user.pk }}"
                }
              }
            ]
          });
      });
  </script>
  <script>
    for (let i = 1; i < 26; i++) {
      const checkbox = document.getElementById(i);
      const bingo_img = document.getElementById('bingo-img' + i);
      const user_matched = "{{ user_matched }}";

      if (checkbox.checked) {
        bingo_img.style.display = 'block';
      } else {
        bingo_img.style.display = 'none';
      }

      const csrfToken = document
        .getElementById('csrf-token')
        .value;

      checkbox.addEventListener('change', function () {
        const bingoId = this.dataset.postId;
        const isChecked = this.checked;

        if (user_matched == 1) {
          if (isChecked == false) {
            const ok = confirm("취소 하시겠어요?");
            if (ok) {
              console.log("취소");
              fetch("/bingo/update-public-status/" + "{{ user_id }}", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": csrfToken
                },
                body: JSON.stringify({bingo_id: bingoId, is_checked: isChecked})
              })
                .then(response => response.json())
                .then(data => {
                  console.log("업데이트 결과:", data);
                })
                .catch(err => console.error("에러:", err));
              bingo_img.style.display = 'none';
            } else {
              console.log("취소안함");
              location.reload(true);
            }
          } else {
            const ok = confirm("완료 하시겠어요?");
            if (ok) {
              console.log("완료");
              fetch("/bingo/update-public-status/" + "{{ user_id }}", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": csrfToken
                },
                body: JSON.stringify({bingo_id: bingoId, is_checked: isChecked})
              })
                .then(response => response.json())
                .then(data => {
                  console.log("업데이트 결과:", data);
                })
                .catch(err => console.error("에러:", err));
              bingo_img.style.display = 'block';
            } else {
              console.log("완료안함");
              location.reload(true);
            }
          }
        }

      });
    }
  </script>

{% endblock content %}
