{% extends "base.html" %}
{% load static %}
{% block content %}

  {% csrf_token %}
  <div class="article-top-space"></div>
  <div class="article-box">
    <div class="article-main">
      <div class="article-submit-prev">
        <div class="article-previous-btn">
          <a href="{% url "article:index" %}">
            <img src="{% static "img/circle-arrow-down-b.png" %}" alt="logo-top" height="50px" ,="," width="auto"></a>
        </div>
      </div>
      <div class="title">
        {{ article.title }}
      </div>
      <div class="article-meta">
        <div class="author">
          <p>{{ article.author }}
            | Editor</p>
        </div>
        <div id="date"></div>
      </div>
      <div class="middle-line"></div>
      <img class="article-main-img" src="/media/{{ article.main_img }}" alt="" height="auto" width="auto"/>
      <div class="article-text">
        <p>{{ article.content|safe }}</p>
      </div>
    </div>
  </div>

  <script>
    var date = new Date();
    document
      .getElementById("date")
      .innerHTML = "<p>" + date.getFullYear() + "년 " + (
    date.getMonth() + 1) + "월 " + date.getDate() + "일" + "</p>";
  </script>
  <script>
    // 페이지가 모두 로드되면 호출
    window.addEventListener('load', function () {
      const loader = document.getElementById('loader');
      const content = document.getElementById('content');
      // 로딩 화면 숨기기
      loader.style.display = 'none';
      // 콘텐츠 보여주기
      content.style.display = 'block';
    });
  </script>
{% endblock content %}