<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="description" content="EASYRUN"/>
    <meta name="keywords" content="EASYRUN"/>
    <title>EASYRUN</title>
    <link rel="shortcut icon" href="#"/>
    <!-- FONT -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap");
    </style>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/joolmag.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <!--google icon-->
    <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
    <!--js-->
    <script defer="defer" src="{% static 'js/main.js' %}"></script>
  </head>

  <body class="mainbg">
    <div class="info-container">
      <div class="info-icons">
        <div class="info-icon">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="info-icon">
          <a href="https://www.instagram.com/hyunwoo_05/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="info-icon">
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
      <div class="login-box">
        {% if user.is_authenticated %}
          <a href="{% url 'users:logout' %}">
            <div class="login-btn">{{ user.username }}
              님 로그아웃</div>
          </a>
        {% else %}
          <a href="{% url 'users:login' %}">
            <div class="login-btn">LOGIN</div>
          </a>
          <a href="{% url 'users:signup' %}">
            <div class="login-btn">SIGN-UP</div>
          </a>
        {% endif %}
      </div>
    </div>
    <div class="j-nav-container">
      <div class="j-navbar-brand fade-in-up-3">
        <a href="">
          <img src="{% static "img/EASYRUN.png" %}" alt="logo-top" height="auto" width="auto">
        </a>
      </div>
      <div class="j-nav-items fade-in-up-5">
        <div class="j-nav-item">
          <a href="{% url 'index' %}">이지런</a>
        </div>
        <div class="j-nav-item">
          <a href="{% url 'article:article' %}">공지</a>
        </div>
        <div class="j-nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'marathon:marathon_list' %}">마라톤</a>
          {% else %}
            <a href="{% url 'users:login' %}">마라톤</a>
          {% endif %}
        </div>
        <div class="j-nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'bingo:bingo' user.pk %}">빙고</a>
          {% else %}
            <a href="{% url 'users:login' %}">빙고</a>
          {% endif %}
        </div>
        <div class="j-nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'runres:recordview' user.pk %}">마일리지</a>
          {% else %}
            <a href="{% url 'users:login' %}">마일리지</a>
          {% endif %}
        </div>
        <div class="j-nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'runres:pbRank' %}">PB</a>
          {% else %}
            <a href="{% url 'users:login' %}">PB</a>
          {% endif %}
        </div>
        {% if user.is_staff %}
          <div class="j-nav-item">
            <a href="{% url 'bingo:bingoupdate' user.pk %}">관리</a>
          </div>
        {% endif %}
      </div>
      <div class="main-img-container">
        <img class="main-img fade-in-up-7" src="{% static "img/easyrun-main.png" %}" alt="main-img" height="auto," width="auto">
      </div>
      <div class="login-box-mobile">
        {% if user.is_authenticated %}
          <a href="{% url 'users:logout' %}">
            <div class="login-btn-mobile">{{ user.username }}
              님 로그아웃</div>
          </a>
        {% else %}
          <a href="{% url 'users:login' %}">
            <div class="login-btn-mobile">로그인</div>
          </a>
          <a href="{% url 'users:signup' %}">
            <div class="login-btn-mobile">회원가입</div>
          </a>
        {% endif %}
      </div>
      <div class="rights">
        <p>© JOOL CO., LTD. All Rights Reserved.</p>
      </div>
      {% if user.is_authenticated %}
        <div class="nav-mobile">
          <a class="flex-gw1" href="{% url 'index' %}">
            <div class="nav-item-mobile">
              <div class="menu-icon-mobile">
                <img src="{% static 'img/home-black.png' %}" alt="" height="25px" width="25px">
              </div>
              <div class="menu-title-mobile">홈</div>
            </div>
          </a>
          <a class="flex-gw1" href="{% url 'article:article' %}">
            <div class="nav-item-mobile">
              <div class="menu-icon-mobile">
                <img src="{% static 'img/doc.png' %}" alt="" height="25px" width="25px">
              </div>
              <div class="menu-title-mobile">공지</div>
            </div>
          </a>
          {% if user.is_authenticated %}
            <a class="flex-gw1" href="{% url 'bingo:bingo' user.pk %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'bingo' %}
                    <img src="{% static 'img/puzzle-black.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/puzzle-white.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">빙고</div>
              </div>
            </a>
          {% else %}
            <a class="flex-gw1" href="{% url 'users:login' %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'bingo' %}
                    <img src="{% static 'img/Book_check_fill@2x.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/Book_check@2x.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">빙고</div>
              </div>
            </a>
          {% endif %}
          {% if user.is_authenticated %}
            <a class="flex-gw1" href="{% url 'runres:recordview' user.pk %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'recordview' %}
                    <img src="{% static 'img/trophy-black.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/trophy-white.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">마일리지</div>
              </div>
            </a>
          {% else %}
            <a class="flex-gw1" href="{% url 'users:login' %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'bingo' %}
                    <img src="{% static 'img/Book_check_fill@2x.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/Book_check@2x.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">마일리지</div>
              </div>
            </a>
          {% endif %}
          {% if user.is_authenticated %}
            <a class="flex-gw1" href="{% url 'runres:pbRank' %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'pbRank' %}
                    <img src="{% static 'img/diamond-filled.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/diamond.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">PB</div>
              </div>
            </a>
          {% else %}
            <a class="flex-gw1" href="{% url 'users:login' %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'pbRank' %}
                    <img src="{% static 'img/diamond-filled.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/diamond.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">PB</div>
              </div>
            </a>
          {% endif %}
          {% if user.is_authenticated %}
            <a class="flex-gw1" href="{% url 'marathon:marathon_list' %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'marathon_list' %}
                    <img src="{% static 'img/finish-line-fill.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/finish-line.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">마라톤</div>
              </div>
            </a>
          {% else %}
            <a class="flex-gw1" href="{% url 'users:login' %}">
              <div class="nav-item-mobile">
                <div class="menu-icon-mobile">
                  {% if request.resolver_match.url_name == 'marathon_list' %}
                    <img src="{% static 'img/finish-line-fill.png' %}" alt="" height="25px" width="25px">
                  {% else %}
                    <img src="{% static 'img/finish-line.png' %}" alt="" height="25px" width="25px">
                  {% endif %}
                </div>
                <div class="menu-title-mobile">마라톤</div>
              </div>
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </body>

</html>
