<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JOOL ART</title>
    <link rel="shortcut icon" href="#" />
    <!-- FONT -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap");
    </style>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/joolmag.css' %}"/>

    <!--google icon-->
    <script
      src="https://kit.fontawesome.com/2f3227cf14.js"
      crossorigin="anonymous"
    ></script>
    <!--js-->
    <script defer src ="{% static 'js/main.js' %}"></script>

  </head>
  <body class="mainbg">
    
    <div class="info-container">
        <img id="menu-button" data-menu="0" onclick="open_close()" src="{% static 'img/icon-hamburger.png' %}" alt="hamb-btn">
      <div class="info-icons">
        <div class="info-icon">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="info-icon">
          <a href="https://www.instagram.com/hyunwoo_05/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="info-icon">
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
    </div>
    <div id="screen">
      <div id="mobile_menu">
        <div id="menu-bundle">
          <div class="submenu">운동화</div>
          <div class="submenu">menu2</div>
          <div class="submenu">menu3</div>
          <div class="submenu">menu4</div>
          <div class="submenu">menu5</div>
          <div class="submenu">menu6</div>
        </div>
      </div>
    </div>
    <div class="j-nav-container">
      
      
      <div class="j-navbar-brand">
        <a href="">
          <img src="{% static "img/logo2@.png" %}" alt="logo-top">
        </a>
      </div>

      <div class="j-nav-items">
        <div class="j-nav-item">
          <a href="#">스트런</a>
        </div>
        <div class="j-nav-item">
          <a href="#">러닝화</a>
        </div>
        <div class="j-nav-item">
          <a href="#">러닝복</a>
        </div>
        <div class="j-nav-item">
          <a href="#">러닝용품</a>
        </div>
        <div class="j-nav-item">
          <a href="#">메시지</a>
        </div>
      </div>
      <div><img class="main-img" src="{% static "img/runner-shoes-b.jpg" %}" alt="main-img"></div>
      <div class="rights"><p>© JOOL CO., LTD. All Rights Reserved.</p></div>
    </div>
  </body>
</html>
