{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="article-top-space"></div>
  <div class="marathon-page">
    <div class="marathon-list">
      <div>
        <p class="page-title">마라톤 참여 리스트</p>
      </div>

      {% csrf_token %}

      {{ marathon }}

      {% for event in events %}
        <div class="card-1">
          <div class="marathon-title">{{ event.title }}</div>
          <p class="marathon-desc">
            - 날짜:
            {{ event.date }}
            / 시간:
            {{ event.time }}<br>
            - 장소:
            {{ event.location_city }}
            -
            {{ event.location_cource }}<br>
            - 홈페이지:
            <a href="{{ event.url }}" target="_blank" class="text-aqua">
              링크</a>
          </p>

          <h3 class="text-black">참가자</h3>

          {% for reg in event.marathonreg_set.all %}
            <div class="marathon-parti flex-row">
              <div class="flex-row-item indent-5">{{ reg.user.last_name }}{{ reg.user.first_name }}</div>
              <div class="flex-row-item">({{ reg.distance }})</div>
            </div>
            {% empty %}
            <p class="empty-parti">아직 참가자가 없습니다.</p>
          {% endfor %}
          <div class="parti-sec">
            <div class="text-black">참가자 등록하기</div>
            <form method="post" action="{% url 'marathon:parti_me' event.marathon_id %}" class="marathon-form">
              {% csrf_token %}
              <select name="distance" class="dist-filter">
                <option value="full">Full</option>
                <option value="half">Half</option>
                <option value="10km">10Km</option>
                <option value="5km">5Km</option>
              </select>
              <button type="submit" class="marathon-btn">등록</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
