{% extends "base.html" %}
{% load static %}
{% block content %}

  {% csrf_token %}

  {% if month == "0" or month == None %}
    <div class="run-submit-title">달리기 거리 랭킹</div>
  {% else %}
    <div class="run-submit-title">{{ month }}월 달리기 거리 랭킹</div>
  {% endif %}

  <div class="rank-container">
    <div class="filter-line">
      <div>
        <form action="{% url 'runres:recordRank' %}" method="get" id="month-filter">
          <select name="month" class="month-filter">
            <option value="0">all</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </form>
      </div>
      <div class="month-filter-txt">월</div>
    </div>
    <div class="space-h30"></div>
    <div class="divider-line"></div>
    {% for record in record_rank %}
      <div class="record-col">
        {% if forloop.counter == 1 %}
          <div class="record-row">
            <img src="{% static 'img/01-Gold-Medal.png' %}" alt="hamb-btn" height="40px," width="40px">
            {{ record.user__username }}
            :
            {{ record.record_sum | floatformat:2 }}
            km
          </div>
        {% elif forloop.counter == 2 %}
          <div class="record-row">
            <img src="{% static 'img/02-Silver-Medal.png' %}" alt="hamb-btn" height="40px," width="40px">
            {{ record.user__username }}
            :
            {{ record.record_sum | floatformat:2 }}
            km
          </div>
        {% elif forloop.counter == 3 %}
          <div class="record-row">
            <img src="{% static 'img/03-Bronze-Medal.png' %}" alt="hamb-btn" height="40px," width="40px">
            {{ record.user__username }}
            :
            {{ record.record_sum | floatformat:2 }}
            km
          </div>
        {% elif forloop.counter == 4 %}
          <div class="space-h30"></div>
          <div class="mg-left-10">
            {{ forloop.counter }}.
            {{ record.user__username }}
            :
            {{ record.record_sum | floatformat:2 }}
            km
          </div>
        {% else %}
          <div class="mg-left-10">
            {{ forloop.counter }}.
            {{ record.user__username }}
            :
            {{ record.record_sum | floatformat:2 }}
            km
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% endblock content %}
