<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="sterun"/>
    <meta name="keywords" content="sterun"/>
    <title>JOOL ART</title>
    <link rel="shortcut icon" href="#"/>
    <!-- FONT -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap");
    </style>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/joolmag.css' %}"/>
    <!--google icon-->
    <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
    <!--js-->
    <script defer="defer" src="{% static 'js/main.js' %}"></script>
  </head>

  <body class="mainbg">
    <div class="info-container">
      <div class="info-icons">
        <div class="info-icon">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="info-icon">
          <a href="https://www.instagram.com/hyunwoo_05/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="info-icon">
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>
      <img id="menu-button" data-menu="0" onclick="open_close()" src="{% static 'img/hamber_btn.svg' %}" alt="hamb-btn" height="auto," width="auto">
      <div class="sterun-logo-m">
        <a href={% url "index" %}>
          <img src="{% static "img/logo2@.png" %}" alt="logo-top" height="50px" ,="," width="auto">
        </a>
      </div>
      <div class="login-box">
        {% if user.is_authenticated %}
          <a href="{% url 'users:logout' %}">
            <div class="login-btn">{{ user.username }}
              님 로그아웃</div>
          </a>
        {% else %}
          <a href="{% url 'users:login' %}">
            <div class="login-btn">LOGIN</div>
          </a>
          <a href="{% url 'users:signup' %}">
            <div class="login-btn">SIGN-UP</div>
          </a>
        {% endif %}
      </div>
    </div>

    <div id="screen">
      <div id="mobile_menu">
        <div id="menu-bundle">
          <div class="submenu">운동화</div>
          <div class="submenu">menu2</div>
          <div class="submenu">menu3</div>
          <div class="submenu">menu4</div>
          <div class="submenu">menu5</div>
          <div class="submenu">menu6</div>
          <div class="mobile-login-box">
            {% if user.is_authenticated %}
              <a href="{% url 'users:logout' %}">
                <div class="login-btn">{{ user.username }}
                  님 로그아웃</div>
              </a>
            {% else %}
              <a href="{% url 'users:login' %}">
                <div class="login-btn">LOGIN</div>
              </a>
              <a href="{% url 'users:signup' %}">
                <div class="login-btn">SIGN-UP</div>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="record-top-space"></div>
    <div class="btn-container">
      <a href="{% url 'runres:runres' %}">
        <div class="upload-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" height="24" viewbox="0 0 24 24" width="24">
            <g stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="m4.75 14.75v1.5c0 1.6569 1.34315 3 3 3h8.5c1.6569 0 3-1.3431 3-3v-1.5"/>
              <path d="m12 14.25v-9.25"/>
              <path d="m8.75 8.25 3.25-3.5 3.25 3.5"/>
            </g>
          </svg>
          <div class="upload-txt">Record Upload</div>
        </div>
      </a>
    </div>

    {% for data in context %}
      <div class="record-list-container">
        <div class="record-img">
          <img src="/media/{{ data.image }}" alt="logo-top" height="100px" width="100px">
        </div>
        <div class="title-date">
          <div class="record-date">{{ data.record_date | date:"Y-m-d" }}</div>
          <div class="record-title">{{ data.title }}</div>
          <div class="record-3">
            <div class="record-distance">{{ data.distance }}
              km</div>
            {% if data.pace_s < 10 %}
              <div class="record-pace">{{ data.pace_m }}' 0{{ data.pace_s }}''</div>
            {% else %}
              <div class="record-pace">{{ data.pace_m }}'
                {{ data.pace_s }}''</div>
            {% endif %}

            {% if data.time_s < 10 %}
              <div class="record-time">{{ data.time_m }}:0{{ data.time_s }}</div>
            {% else %}
              <div class="record-time">{{ data.time_m }}:{{ data.time_s }}</div>
            {% endif %}

          </div>
          <div class="record-desc">{{ data.desc }}</div>
        </div>
      </div>
    {% endfor %}
  </body>

</html>
