{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="main-view flex-center">
    <div class="record-top-space"></div>
    <div>
      <div>
        Full PB 순위
        {% for record in ranking_fm %}
          <div>{{ record.runner.last_name }}{{ record.runner.first_name }}</div>
          <div>{{ record.record }}</div>
        {% endfor %}
      </div>
      <div>
        Half PB 순위
        {% for record in ranking_hm %}
          <div>{{ record.runner.last_name }}{{ record.runner.first_name }}</div>
          <div>{{ record.record }}</div>
        {% endfor %}
      </div>
      <div>
        10Km PB 순위
        {% for record in ranking_tenk %}
          <div>{{ record.runner.last_name }}{{ record.runner.first_name }}</div>
          <div>{{ record.record }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    // 페이지가 모두 로드되면 호출
    window.addEventListener('load', function () {
      const loader = document.getElementById('loader');
      const content = document.getElementById('content');
      // 로딩 화면 숨기기
      loader.style.display = 'none';
      // 콘텐츠 보여주기
      content.style.display = 'block';
    });
  </script>
{% endblock content %}
