<!DOCTYPE html>
{% load static %}
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="description" content="sterun"/>
    <meta name="keywords" content="sterun"/>
    <title>STERUN</title>
    <link rel="shortcut icon" href="#"/>
    <!-- FONT -->
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;600&display=swap");
    </style>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/joolmag.css' %}"/>
    <!--google icon-->
    <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
    <!--js-->
    <script defer="defer" src="{% static 'js/main.js' %}"></script>
  </head>

  {% if user.is_authenticated %}

    <body class="mainbg">
      <div class="sterun-logo-m">
        <a href={% url "index" %}>
          <img src="{% static "img/index_logo.png" %}" alt="logo-top" height="auto" ,="," width="200px">
        </a>
      </div>
      <div class="run-submit-title">
        <div class="sub-title">기록 업로드하기</div>
      </div>
      <div class="container-400">
        <div class="run-submit-prev">
          <div class="previous-btn">
            <a href="{{ request.META.HTTP_REFERER }}">
              <img src="{% static "img/circle-arrow-down.png" %}" alt="logo-top" height="50px" ,="," width="auto"></a>
          </div>
        </div>
      </div>
      <div class="run-form-container">
        <form method="post" id="contactForm" class="run-sm-form" name="contactForm" action="{% url 'runres:recordres' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-control">
            <div class="form-label">달리기 이름
            </div><input class="run-input" id="title" name="title" placeholder="달리기 이름을 입력해 주세요" type="text" required=""/>
          </div>
          <div class="form-control">
            <div class="form-label">팀 선택</div>
            <div class="form-label-80">
              {% for team in my_team %}
                참고로, 지금 나의 팀은
                {{ team.team }}
              {% endfor %}
            </div>
            <select class="run-input" id="team" name="team">
              <option value="" selected="selected">-</option>
              {% for team in team_list %}
                <option value="{{ team.team_id }}">{{ team.team_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-control">
            <div class="form-label">날짜
            </div><input class="run-input" type="date" name="record_date" required="" id="record_date">
          </div>
          <div class="form-control">
            <div class="form-label">기록 화면
            </div><input class="run-input" type="file" name="image" required="" id="image">
          </div>
          <div class="form-control">
            <div class="form-label">거리 (Km)
            </div><input class="run-input" type="text" name="distance" placeholder="달린 거리를 km 단위로 입력해 주세요" id="distance">
          </div>
          <div class="form-control">
            <div class="form-label">시간
            </div>
            <div class="ms-row">
              <input class="run-input-t" type="number" name="time_h" id="time_h">
              <div class="ms-txt">시간</div>
              <input class="run-input-t" type="number" name="time_m" required="" id="time_m">
              <div class="ms-txt">분</div>
              <input class="run-input-t" type="number" name="time_s" required="" id="time_s">
              <div class="ms-txt">초</div>
            </div>
          </div>
          <div class="form-control">
            <div class="form-label">페이스 (자동입력)
            </div>
            <div class="ms-row">
              <input class="run-input-t" type="number" name="pace_m" required="" id="pace_m" readonly="readonly">
              <div class="ms-txt">분</div>
              <input class="run-input-t" type="number" name="pace_s" required="" id="pace_s" readonly="readonly">
              <div class="ms-txt">초</div>
            </div>
          </div>

          <div class="form-control">
            <div class="form-label">노트
            </div>
            <textarea class="run-input" id="inputMessage" name="desc" placeholder="노트를 남겨 주세요" data-parsley-pattern="^[a-zA-Z0-9\s.:,!?']+$"></textarea>
          </div>
          <div class="btn-control">
            <button type="submit" name="submit" id="submit-form-btn" class="submit-btn">
              <p class="btn-text">등록하기</p>
              <span class="spinner-login"></span>
            </button>
          </div>
        </form>
      </div>
      <div class="space-h30"></div>

      <script>
        const btn = document.getElementById('submit-form-btn');
        const form = document.getElementById('contactForm');
        btn.addEventListener('click', () => {
          if (form.checkValidity()) {
            btn
              .classList
              .add('loading-login'); // 브라우저 기본 alert도 출력
          }
          // 로그인 처리 시뮬레이션 (예: 2초 후 완료)
          setTimeout(() => {
            btn
              .classList
              .remove('loading-login');
          }, 20000);
        });

        function calcValues() {
          // 입력값 3개
          let a = parseFloat(document.getElementById('time_h').value) || 0;
          let b = parseFloat(document.getElementById('time_m').value) || 0;
          let c = parseFloat(document.getElementById('time_s').value) || 0;
          let d = parseFloat(document.getElementById('distance').value) || 0;

          let r1 = (a * 60) + b + (c / 60);
          let r2 = r1 / d;
          let pm = parseInt(r2 / 1);
          let ps = (r2 % 1) * 60;

          console.log(pm);
          console.log(ps);

          document
            .getElementById('pace_m')
            .value = pm;
          document
            .getElementById('pace_s')
            .value = ps.toFixed(0);
        }

        document
          .getElementById('time_h')
          .addEventListener('input', calcValues);
        document
          .getElementById('time_m')
          .addEventListener('input', calcValues);
        document
          .getElementById('time_s')
          .addEventListener('input', calcValues);
        document
          .getElementById('distance')
          .addEventListener('input', calcValues);
      </script>
    </body>
  {% else %}

    <body class="login-page">
      <div class="login-container">
        <div class="login-page-top-margin"></div>
        <div class="j-navbar-brand">
          <a href="{% url 'index' %}">
            <img src="{% static "img/logo2@.png" %}" alt="logo-top" height="auto," width="auto">
          </a>
        </div>
        <div>
          <div class="login-container">
            <form method="post" action="{% url 'users:login' %}" class="form-container">
              {% csrf_token %}
              {% include "users/form_errors.html" %}
              <div>
                <input type="text" name="username" id="username" class="id" placeholder="아이디">
              </div>
              <div>
                <input type="text" name="password" id="password" class="pw" placeholder="비밀번호">
              </div>
              <div>
                <button type="submit" class="login-submit">로그인</button>
              </div>
              <a href="{% url 'users:signup' %}">
                <span class="signup-btn">회원가입</span></a>
            </form>
          </div>
        </div>
      </div>
    </body>
  {% endif %}

</html>
